@import '~antd/dist/antd.css';
@import './style/index.less';
* {
  margin: 0;
  padding: 0;
}
.routerSpin {
  margin: 30% 0;
  text-align: center;
}
.menuLogoDiv {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuLogoDiv img {
  width: 40px;
}
.menuLogoDiv span {
  color: white;
  font-weight: bolder;
  font-size: 20px;
}
.navDiv {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contentDiv {
  background-color: white;
  margin-top: 40px;
  padding: 20px;
}
::-webkit-scrollbar {
  width: 1px;
}
