@import '~antd/dist/antd.css';
@import './style/index.less';
* {
  margin: 0;
  padding: 0;
}
.routerSpin {
  margin: 0 0;
  text-align: center;
}
.menuClassName {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  /* box-sizing: border-box;
  border-right: 1px solid black; */
}